body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:347px;
}
#u12155 {
  position:absolute;
  left:280px;
  top:259px;
  width:693px;
  height:346px;
}
#u12156 {
  position:absolute;
  left:2px;
  top:157px;
  width:689px;
  word-wrap:break-word;
}
#u12157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:31px;
}
#u12157 {
  position:absolute;
  left:280px;
  top:220px;
  width:159px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u12158 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u12159 {
  position:absolute;
  left:439px;
  top:224px;
  width:61px;
  height:22px;
}
#u12159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12159_input {
  font-family:'微软雅黑';
}
#u12159_input:disabled {
  color:grayText;
}
#u12160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u12160 {
  position:absolute;
  left:590px;
  top:224px;
  width:74px;
  height:22px;
}
#u12161 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u12163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:673px;
}
#u12163 {
  position:absolute;
  left:0px;
  top:98px;
  width:255px;
  height:672px;
  font-size:16px;
}
#u12164 {
  position:absolute;
  left:2px;
  top:328px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:99px;
}
#u12165 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:98px;
}
#u12166 {
  position:absolute;
  left:2px;
  top:41px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
}
#u12167 {
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:37px;
}
#u12168 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12169 {
  position:absolute;
  left:90px;
  top:14px;
  width:300px;
  height:50px;
}
#u12169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#009FE9;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12169_input {
  font-family:'微软雅黑';
}
#u12170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u12171 {
  position:absolute;
  left:1260px;
  top:22px;
  width:40px;
  height:41px;
}
#u12172 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12173 {
  position:absolute;
  left:1310px;
  top:20px;
  width:70px;
  height:45px;
}
#u12173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12173_input {
  font-family:'微软雅黑';
}
#u12174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12175 {
  position:absolute;
  left:967px;
  top:23px;
  width:40px;
  height:40px;
}
#u12176 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12177 {
  position:absolute;
  left:1017px;
  top:20px;
  width:70px;
  height:45px;
}
#u12177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12177_input {
  font-family:'微软雅黑';
}
#u12178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u12179 {
  position:absolute;
  left:1113px;
  top:22px;
  width:41px;
  height:41px;
}
#u12180 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12181 {
  position:absolute;
  left:1163px;
  top:20px;
  width:70px;
  height:45px;
}
#u12181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12181_input {
  font-family:'微软雅黑';
}
#u12182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12182 {
  position:absolute;
  left:355px;
  top:21px;
  width:35px;
  height:35px;
}
#u12183 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u12185 {
  position:absolute;
  left:825px;
  top:25px;
  width:35px;
  height:34px;
}
#u12186 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12187 {
  position:absolute;
  left:870px;
  top:20px;
  width:70px;
  height:45px;
}
#u12187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12187_input {
  font-family:'微软雅黑';
}
#u12188 {
  position:absolute;
  left:30px;
  top:63px;
  width:200px;
  height:25px;
}
#u12188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12188_input {
  font-family:'微软雅黑';
}
#u12189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12190 {
  position:absolute;
  left:0px;
  top:601px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12190_img.mouseOver {
}
#u12190.mouseOver {
}
#u12191 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12192 {
  position:absolute;
  left:0px;
  top:558px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12192_img.mouseOver {
}
#u12192.mouseOver {
}
#u12193 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12194 {
  position:absolute;
  left:0px;
  top:515px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12194_img.mouseOver {
}
#u12194.mouseOver {
}
#u12195 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12196 {
  position:absolute;
  left:0px;
  top:644px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12196_img.mouseOver {
}
#u12196.mouseOver {
}
#u12197 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12198 {
  position:absolute;
  left:0px;
  top:687px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12198_img.mouseOver {
}
#u12198.mouseOver {
}
#u12199 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12200 {
  position:absolute;
  left:0px;
  top:730px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12200_img.mouseOver {
}
#u12200.mouseOver {
}
#u12201 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12202 {
  position:absolute;
  left:0px;
  top:773px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12202_img.mouseOver {
}
#u12202.mouseOver {
}
#u12203 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12204 {
  position:absolute;
  left:0px;
  top:816px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12204_img.mouseOver {
}
#u12204.mouseOver {
}
#u12205 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12206 {
  position:absolute;
  left:0px;
  top:859px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12206_img.mouseOver {
}
#u12206.mouseOver {
}
#u12207 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12209 {
  position:absolute;
  left:-7px;
  top:507px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12209_img.mouseOver {
}
#u12209.mouseOver {
}
#u12210 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12211 {
  position:absolute;
  left:-7px;
  top:464px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12211_img.mouseOver {
}
#u12211.mouseOver {
}
#u12212 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12214 {
  position:absolute;
  left:-7px;
  top:411px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12214_img.mouseOver {
}
#u12214.mouseOver {
}
#u12215 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12216 {
  position:absolute;
  left:-7px;
  top:454px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12216_img.mouseOver {
}
#u12216.mouseOver {
}
#u12217 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12218 {
  position:absolute;
  left:-7px;
  top:368px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12218_img.mouseOver {
}
#u12218.mouseOver {
}
#u12219 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12221 {
  position:absolute;
  left:0px;
  top:405px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12221_img.mouseOver {
}
#u12221.mouseOver {
}
#u12222 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12223 {
  position:absolute;
  left:0px;
  top:491px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12223_img.mouseOver {
}
#u12223.mouseOver {
}
#u12224 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12225 {
  position:absolute;
  left:0px;
  top:319px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12225_img.mouseOver {
}
#u12225.mouseOver {
}
#u12226 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12227 {
  position:absolute;
  left:0px;
  top:792px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12227_img.mouseOver {
}
#u12227.mouseOver {
}
#u12228 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12229 {
  position:absolute;
  left:0px;
  top:749px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12229_img.mouseOver {
}
#u12229.mouseOver {
}
#u12230 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12231 {
  position:absolute;
  left:0px;
  top:663px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12231_img.mouseOver {
}
#u12231.mouseOver {
}
#u12232 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12233 {
  position:absolute;
  left:0px;
  top:620px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12233_img.mouseOver {
}
#u12233.mouseOver {
}
#u12234 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12235 {
  position:absolute;
  left:0px;
  top:534px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12235_img.mouseOver {
}
#u12235.mouseOver {
}
#u12236 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12237 {
  position:absolute;
  left:0px;
  top:448px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12237_img.mouseOver {
}
#u12237.mouseOver {
}
#u12238 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12239 {
  position:absolute;
  left:0px;
  top:921px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12239_img.mouseOver {
}
#u12239.mouseOver {
}
#u12240 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12241 {
  position:absolute;
  left:0px;
  top:964px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12241_img.mouseOver {
}
#u12241.mouseOver {
}
#u12242 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12243 {
  position:absolute;
  left:0px;
  top:878px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12243_img.mouseOver {
}
#u12243.mouseOver {
}
#u12244 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12245 {
  position:absolute;
  left:0px;
  top:835px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12245_img.mouseOver {
}
#u12245.mouseOver {
}
#u12246 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12247 {
  position:absolute;
  left:0px;
  top:706px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12247_img.mouseOver {
}
#u12247.mouseOver {
}
#u12248 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12249 {
  position:absolute;
  left:0px;
  top:362px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12249_img.mouseOver {
}
#u12249.mouseOver {
}
#u12250 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12251 {
  position:absolute;
  left:0px;
  top:577px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12251_img.mouseOver {
}
#u12251.mouseOver {
}
#u12252 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12254 {
  position:absolute;
  left:0px;
  top:608px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12254_img.mouseOver {
}
#u12254.mouseOver {
}
#u12255 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12256 {
  position:absolute;
  left:0px;
  top:565px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12256_img.mouseOver {
}
#u12256.mouseOver {
}
#u12257 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12258 {
  position:absolute;
  left:0px;
  top:651px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12258_img.mouseOver {
}
#u12258.mouseOver {
}
#u12259 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12260 {
  position:absolute;
  left:0px;
  top:694px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12260_img.mouseOver {
}
#u12260.mouseOver {
}
#u12261 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12262 {
  position:absolute;
  left:0px;
  top:737px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12262_img.mouseOver {
}
#u12262.mouseOver {
}
#u12263 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12264 {
  position:absolute;
  left:0px;
  top:780px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12264_img.mouseOver {
}
#u12264.mouseOver {
}
#u12265 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12266 {
  position:absolute;
  left:0px;
  top:823px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12266_img.mouseOver {
}
#u12266.mouseOver {
}
#u12267 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12268 {
  position:absolute;
  left:0px;
  top:866px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12268_img.mouseOver {
}
#u12268.mouseOver {
}
#u12269 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12270 {
  position:absolute;
  left:0px;
  top:909px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12270_img.mouseOver {
}
#u12270.mouseOver {
}
#u12271 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12272 {
  position:absolute;
  left:0px;
  top:952px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12272_img.mouseOver {
}
#u12272.mouseOver {
}
#u12273 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12274 {
  position:absolute;
  left:0px;
  top:1081px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12274_img.mouseOver {
}
#u12274.mouseOver {
}
#u12275 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12276 {
  position:absolute;
  left:0px;
  top:995px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12276_img.mouseOver {
}
#u12276.mouseOver {
}
#u12277 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12278 {
  position:absolute;
  left:0px;
  top:1038px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12278_img.mouseOver {
}
#u12278.mouseOver {
}
#u12279 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12281 {
  position:absolute;
  left:0px;
  top:632px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12281_img.mouseOver {
}
#u12281.mouseOver {
}
#u12282 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12283 {
  position:absolute;
  left:0px;
  top:589px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12283_img.mouseOver {
}
#u12283.mouseOver {
}
#u12284 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12285 {
  position:absolute;
  left:0px;
  top:546px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12285_img.mouseOver {
}
#u12285.mouseOver {
}
#u12286 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12287 {
  position:absolute;
  left:0px;
  top:503px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12287_img.mouseOver {
}
#u12287.mouseOver {
}
#u12288 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12289 {
  position:absolute;
  left:0px;
  top:417px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12289_img.mouseOver {
}
#u12289.mouseOver {
}
#u12290 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12291 {
  position:absolute;
  left:0px;
  top:460px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12291_img.mouseOver {
}
#u12291.mouseOver {
}
#u12292 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12293 {
  position:absolute;
  left:0px;
  top:675px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12293_img.mouseOver {
}
#u12293.mouseOver {
}
#u12294 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12295 {
  position:absolute;
  left:0px;
  top:718px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12295_img.mouseOver {
}
#u12295.mouseOver {
}
#u12296 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12298 {
  position:absolute;
  left:-7px;
  top:356px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12298_img.mouseOver {
}
#u12298.mouseOver {
}
#u12299 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12300 {
  position:absolute;
  left:-7px;
  top:313px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12300_img.mouseOver {
}
#u12300.mouseOver {
}
#u12301 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12302 {
  position:absolute;
  left:-7px;
  top:270px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12302_img.mouseOver {
}
#u12302.mouseOver {
}
#u12303 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12305 {
  position:absolute;
  left:0px;
  top:307px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12305_img.mouseOver {
}
#u12305.mouseOver {
}
#u12306 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12307 {
  position:absolute;
  left:0px;
  top:522px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12307_img.mouseOver {
}
#u12307.mouseOver {
}
#u12308 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12309 {
  position:absolute;
  left:0px;
  top:264px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12309_img.mouseOver {
}
#u12309.mouseOver {
}
#u12310 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12311 {
  position:absolute;
  left:0px;
  top:479px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12311_img.mouseOver {
}
#u12311.mouseOver {
}
#u12312 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12313 {
  position:absolute;
  left:0px;
  top:608px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12313_img.mouseOver {
}
#u12313.mouseOver {
}
#u12314 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12315 {
  position:absolute;
  left:0px;
  top:565px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12315_img.mouseOver {
}
#u12315.mouseOver {
}
#u12316 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12317 {
  position:absolute;
  left:0px;
  top:221px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12317_img.mouseOver {
}
#u12317.mouseOver {
}
#u12318 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12319 {
  position:absolute;
  left:0px;
  top:350px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12319_img.mouseOver {
}
#u12319.mouseOver {
}
#u12320 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12321 {
  position:absolute;
  left:0px;
  top:393px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12321_img.mouseOver {
}
#u12321.mouseOver {
}
#u12322 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
}
#u12323 {
  position:absolute;
  left:0px;
  top:436px;
  width:250px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12323_img.mouseOver {
}
#u12323.mouseOver {
}
#u12324 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u12325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12325 {
  position:absolute;
  left:0px;
  top:515px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12325_img.mouseOver {
}
#u12325.mouseOver {
}
#u12326 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12327 {
  position:absolute;
  left:0px;
  top:466px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12327_img.mouseOver {
}
#u12327.mouseOver {
}
#u12328 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12329 {
  position:absolute;
  left:0px;
  top:417px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12329_img.mouseOver {
}
#u12329.mouseOver {
}
#u12330 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12331 {
  position:absolute;
  left:0px;
  top:368px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12331_img.mouseOver {
}
#u12331.mouseOver {
}
#u12332 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12333 {
  position:absolute;
  left:0px;
  top:319px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12333_img.mouseOver {
}
#u12333.mouseOver {
}
#u12334 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12335 {
  position:absolute;
  left:0px;
  top:270px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12335_img.mouseOver {
}
#u12335.mouseOver {
}
#u12336 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12337 {
  position:absolute;
  left:0px;
  top:221px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12337_img.mouseOver {
}
#u12337.mouseOver {
}
#u12338 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:50px;
}
#u12339 {
  position:absolute;
  left:0px;
  top:172px;
  width:250px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12339_img.mouseOver {
}
#u12339.mouseOver {
}
#u12340 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u12341_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:116px;
  height:43px;
}
#u12341 {
  position:absolute;
  left:130px;
  top:110px;
  width:113px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12342 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u12343 {
  position:absolute;
  left:280px;
  top:615px;
  width:145px;
  height:30px;
  text-align:left;
}
#u12344 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u12345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:171px;
}
#u12345 {
  position:absolute;
  left:280px;
  top:655px;
  width:693px;
  height:170px;
}
#u12346 {
  position:absolute;
  left:2px;
  top:77px;
  width:689px;
  word-wrap:break-word;
}
#u12347 {
  position:absolute;
  left:435px;
  top:619px;
  width:130px;
  height:22px;
}
#u12347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12347_input {
  font-family:'微软雅黑';
}
#u12347_input:disabled {
  color:grayText;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u12348 {
  position:absolute;
  left:280px;
  top:174px;
  width:145px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12349 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u12350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u12350 {
  position:absolute;
  left:370px;
  top:203px;
  width:720px;
  height:1px;
}
#u12351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12352 {
  position:absolute;
  left:510px;
  top:224px;
  width:61px;
  height:22px;
}
#u12352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12352_input {
  font-family:'微软雅黑';
}
#u12352_input:disabled {
  color:grayText;
}
#u12353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u12353 {
  position:absolute;
  left:590px;
  top:619px;
  width:74px;
  height:22px;
}
#u12354 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
