body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7326 {
  position:absolute;
  left:10px;
  top:38px;
  width:50px;
  height:25px;
}
#u7326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7326_input {
  font-family:'微软雅黑';
}
#u7327 {
  position:absolute;
  left:72px;
  top:38px;
  width:42px;
  height:25px;
}
#u7327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7327_input {
  font-family:'微软雅黑';
}
#u7328 {
  position:absolute;
  left:119px;
  top:41px;
  width:100px;
  height:22px;
}
#u7328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7328_input {
  font-family:'微软雅黑';
}
#u7328_input:disabled {
  color:grayText;
}
#u7329 {
  position:absolute;
  left:10px;
  top:393px;
  width:80px;
  height:25px;
}
#u7329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7329_input {
  font-family:'微软雅黑';
}
#u7330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7330 {
  position:absolute;
  left:220px;
  top:310px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7331 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7332 {
  position:absolute;
  left:130px;
  top:393px;
  width:90px;
  height:25px;
}
#u7332_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7332_input {
  font-family:'微软雅黑';
}
#u7333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7333 {
  position:absolute;
  left:220px;
  top:340px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7334 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u7335 {
  position:absolute;
  left:10px;
  top:3px;
  width:110px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7336 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u7337 {
  position:absolute;
  left:339px;
  top:38px;
  width:50px;
  height:25px;
}
#u7337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7337_input {
  font-family:'微软雅黑';
}
#u7338 {
  position:absolute;
  left:395px;
  top:38px;
  width:50px;
  height:25px;
}
#u7338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7338_input {
  font-family:'微软雅黑';
}
#u7339 {
  position:absolute;
  left:435px;
  top:41px;
  width:100px;
  height:22px;
}
#u7339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7339_input {
  font-family:'微软雅黑';
}
#u7339_input:disabled {
  color:grayText;
}
#u7340 {
  position:absolute;
  left:335px;
  top:393px;
  width:80px;
  height:25px;
}
#u7340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u7340_input {
  font-family:'微软雅黑';
}
#u7341 {
  position:absolute;
  left:455px;
  top:393px;
  width:90px;
  height:25px;
}
#u7341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7341_input {
  font-family:'微软雅黑';
}
#u7342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7342 {
  position:absolute;
  left:545px;
  top:310px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7343 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7344 {
  position:absolute;
  left:545px;
  top:340px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7345 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7346 {
  position:absolute;
  left:630px;
  top:38px;
  width:50px;
  height:25px;
}
#u7346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7346_input {
  font-family:'微软雅黑';
}
#u7347 {
  position:absolute;
  left:689px;
  top:39px;
  width:50px;
  height:25px;
}
#u7347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7347_input {
  font-family:'微软雅黑';
}
#u7348 {
  position:absolute;
  left:730px;
  top:41px;
  width:100px;
  height:22px;
}
#u7348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7348_input {
  font-family:'微软雅黑';
}
#u7348_input:disabled {
  color:grayText;
}
#u7349 {
  position:absolute;
  left:630px;
  top:393px;
  width:80px;
  height:25px;
}
#u7349_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u7349_input {
  font-family:'微软雅黑';
}
#u7350 {
  position:absolute;
  left:750px;
  top:393px;
  width:90px;
  height:25px;
}
#u7350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7350_input {
  font-family:'微软雅黑';
}
#u7351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7351 {
  position:absolute;
  left:840px;
  top:310px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7352 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u7353 {
  position:absolute;
  left:840px;
  top:340px;
  width:70px;
  height:30px;
  text-decoration:underline;
}
#u7354 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u7355 {
  position:absolute;
  left:890px;
  top:428px;
  width:140px;
  height:25px;
}
#u7355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7355_input {
  font-family:'微软雅黑';
}
#u7356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:311px;
}
#u7356 {
  position:absolute;
  left:10px;
  top:71px;
  width:210px;
  height:310px;
}
#u7357 {
  position:absolute;
  left:2px;
  top:147px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:311px;
}
#u7358 {
  position:absolute;
  left:334px;
  top:73px;
  width:210px;
  height:310px;
}
#u7359 {
  position:absolute;
  left:2px;
  top:147px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:311px;
}
#u7360 {
  position:absolute;
  left:630px;
  top:73px;
  width:210px;
  height:310px;
}
#u7361 {
  position:absolute;
  left:2px;
  top:147px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u7362 {
  position:absolute;
  left:470px;
  top:780px;
  width:1px;
  height:20px;
}
#u7363 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7364 {
  position:absolute;
  left:180px;
  top:201px;
  width:29px;
  height:50px;
}
#u7365 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7366 {
  position:absolute;
  left:21px;
  top:201px;
  width:29px;
  height:50px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7368 {
  position:absolute;
  left:504px;
  top:201px;
  width:29px;
  height:50px;
}
#u7369 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7370 {
  position:absolute;
  left:345px;
  top:201px;
  width:29px;
  height:50px;
}
#u7371 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7372 {
  position:absolute;
  left:800px;
  top:203px;
  width:29px;
  height:50px;
}
#u7373 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u7374 {
  position:absolute;
  left:641px;
  top:203px;
  width:29px;
  height:50px;
}
#u7375 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:71px;
}
#u7376 {
  position:absolute;
  left:860px;
  top:100px;
  width:210px;
  height:70px;
}
#u7377 {
  position:absolute;
  left:2px;
  top:19px;
  width:206px;
  word-wrap:break-word;
}
