body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u7298 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u7299 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u7300 {
  position:absolute;
  left:30px;
  top:40px;
  width:405px;
  height:95px;
}
#u7301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7301 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7302 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7303 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u7304 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7305 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u7306 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7307 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u7308 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7309 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7310 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7311 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u7312 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7313 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u7314 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7315 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u7316 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7317 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u7318 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7319 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u7320 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7321 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u7322 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7323 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u7324 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7325 {
  position:absolute;
  left:440px;
  top:105px;
  width:120px;
  height:25px;
}
#u7325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7325_input {
  font-family:'微软雅黑';
}
